fastapi==0.104.1
mangum==0.17.0
python-multipart==0.0.6
uvicorn==0.24.0
numpy==1.26.4
scikit-image==0.22.0
# Temporarily removing porespy due to compatibility issues
# porespy==1.5.0
matplotlib==3.8.2
pillow==10.1.0
pydantic==2.6.1
